.header{
    height: 100px;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    position: sticky;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display : flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    
}
    